<div>
	<div [hidden]="showForm">
		<div class="row">
			<div class="input-field col s3">
				<select name="agent" multiple="true">
					<option value="prikaz">prikaz</option>
					<option value="kupovina">kupovina</option>
				</select>
			</div>
			<div class="input-field col s3">
				<label>Datum od</label>
				<input type="text" placeholder="Datum od" />
			</div>
			<div class="input-field col s3">
				<label>Datum do</label>
				<input type="text" placeholder="Datum do" />
			</div>
			<div class="input-field col s3">
				<button type="submit" class="btn waves-effect waves-light login-box__button" (click)="editMode = true">osveži</button>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s3">
				<select name="agent" multiple="true">
					<option value="agent1">agent1</option>
					<option value="agent2">agent2</option>
					<option value="agent3">agent3</option>
					<option value="agent4">agent4</option>
				</select>
			</div>
			<div class="input-field col s3">
				<select name="agent" multiple="true">
					<option value="agent1">Miloš Milošević</option>
					<option value="agent2">Nikola Nikolić</option>
				</select>
			</div>
			<div class="input-field col s6">
				<select name="agent" multiple="true">
					<option value="agent1">Cvijićeva 100, Beograd</option>
					<option value="agent2">Cvijićeva 101, Beograd</option>
					<option value="agent3">Cvijićeva 102, Beograd</option>
				</select>
			</div>
		</div>
		<ng-table [config]="config"
		          (tableChanged)="onChangeTable(config)"
		          [rows]="rows" [columns]="columns">
		</ng-table>
		<pagination *ngIf="config.paging"
		            class="pagination-sm center-align"
		            [(ngModel)]="page"
		            [totalItems]="length"
		            [itemsPerPage]="itemsPerPage"
		            [maxSize]="maxSize"
		            [boundaryLinks]="true"
		            [rotate]="false"
		            (pageChanged)="onChangeTable(config, $event)"
		            (numPages)="numPages = $event">
		</pagination>
	</div>
</div>