<div>
	<div [hidden]="showForm">
		<ng-table [config]="config"
		          (tableChanged)="onChangeTable(config)"
		          (cellClicked)="onCellClick($event)"
		          [rows]="rows" [columns]="columns">
		</ng-table>
		<pagination *ngIf="config.paging"
		            class="pagination-sm center-align"
		            [(ngModel)]="page"
		            [totalItems]="length"
		            [itemsPerPage]="itemsPerPage"
		            [maxSize]="maxSize"
		            [boundaryLinks]="true"
		            [rotate]="false"
		            (pageChanged)="onChangeTable(config, $event)"
		            (numPages)="numPages = $event">
		</pagination>
	</div>
	<agent-form [hidden]="!showForm"
		[agent]="agent"
		[isEdit]="true"
	></agent-form>
</div>