<div class="login-box content">
	<h1>Nekretnina</h1>
	<form (ngSubmit)="editMode = false" [hidden]="!editMode && isEdit">
		<div class="row">
			<div class="col s6">
				<div class="row">
					<div class="col s12">
						<label for="country">Država</label>
						<input type="text" name="country" [(ngModel)]="realestate.country" required placeholder="Država" />
					</div>
					<div class="col s12">
						<label for="city">Grad</label>
						<input type="text" name="city" [(ngModel)]="realestate.city" required placeholder="Grad" />
					</div>
					<div class="col s12">
						<label for="municipality">Opština</label>
						<input type="text" name="municipality" [(ngModel)]="realestate.municipality" required placeholder="Opština" />
					</div>
					<div class="col s12">
						<label for="location">Lokacija</label>
						<input type="text" name="location" [(ngModel)]="realestate.location" required placeholder="Lokacija" />
					</div>
					<div class="col s12">
						<label for="street">Ulica</label>
						<input type="text" name="street" [(ngModel)]="realestate.street" required placeholder="Ulica" />
					</div>
					<div class="col s12">
						<label for="number">Broj</label>
						<input type="text" name="number" [(ngModel)]="realestate.number" required placeholder="Broj" />
					</div>
					<div class="input-field col s12">
						<select name="agent">
							<option value="agent1">agent1</option>
							<option value="agent2">agent2</option>
							<option value="agent3">agent3</option>
							<option value="agent4">agent4</option>
						</select>
					</div>
					<div class="col s12">
						<label for="pictures">Slike</label>
						<input type="file" />
					</div>
				</div>
			</div>
			<div class="col s6">
				<div class="row">
					<div class="col s12">
						<label for="for_sale">Vrsta usluge</label>
						<select name="for_sale" [(ngModel)]="realestate.for_sale" required>
							<option value="true">prodaja</option>
							<option value="false">izdavanje</option>
						</select>
					</div>
					<div class="col s12">
						<label for="type">Vrsta nekretnine</label>
						<select name="type" [(ngModel)]="realestate.type" required>
							<option value="stan">stan</option>
							<option value="kuca">kuća</option>
						</select>
					</div>
					<div class="col s12">
						<label for="price">Cena</label>
						<input type="number" name="price" [(ngModel)]="realestate.price" required placeholder="Cena" />
					</div>
					<div class="col s12">
						<label for="area">Površina</label>
						<input type="text" name="area" [(ngModel)]="realestate.area" required placeholder="Površina" />
					</div>
					<div class="col s12">
						<label for="owner_first_name">Ime vlasnika</label>
						<input type="text" name="owner_first_name" [(ngModel)]="realestate.owner_first_name" required placeholder="Ime vlasnika" />
					</div>
					<div class="col s12">
						<label for="owner_last_name">Prezime vlasnika</label>
						<input type="text" name="owner_last_name" [(ngModel)]="realestate.owner_last_name" required placeholder="Prezime vlasnika" />
					</div>
					<div class="col s12">
						<label for="phone">Broj telefona</label>
						<ul id='dropdown1' class='dropdown-content'>
							<li><a href="#!">060</a></li>
							<li class="divider"></li>
							<li><a href="#!">061</a></li>
							<li class="divider"></li>
							<li><a href="#!">062</a></li>
							<li class="divider"></li>
							<li><a href="#!">063</a></li>
							<li class="divider"></li>
							<li><a href="#!">064</a></li>
							<li class="divider"></li>
							<li><a href="#!">065</a></li>
						</ul>
						<input type="text" name="phone" [(ngModel)]="realestate.phone" required placeholder="Broj telefona" />
					</div>
				</div>
			</div>
		</div>
		<div [hidden]="!isEdit" class="row">
			<div class="col s12">
				<div>
					<button type="submit" class="btn waves-effect waves-light login-box__button">sačuvaj</button>
					<button (click)="this.editMode = false" class="btn red waves-effect waves-light login-box__button">odustani</button>
				</div>
			</div>
		</div>
		<div [hidden]="isEdit" class="row">
			<div class="col s12">
				<div>
					<button class="btn waves-effect waves-light login-box__button" (click)="$event.preventDefault()">sačuvaj</button>
					<button class="btn red waves-effect waves-light login-box__button" (click)="$event.preventDefault()">odustani</button>
				</div>
			</div>
		</div>
	</form>
	<div class="row" [hidden]="editMode || !isEdit">
	    <div class="col s12">
	    	<ul class="tabs">
	        	<li class="tab col s3"><a href="#tab1">Opšte</a></li>
	        	<li class="tab col s3"><a class="active" href="#tab2">Lokacija</a></li>
	        	<li class="tab col s3"><a href="#tab3">Slike</a></li>
	    	</ul>
	    </div>
	    <div id="tab1" class="col s12">
	    	<div class="row">
	    		<div class="col s4">
					<div class="row">
						<div class="col s12">
							<p>Agent: {{ realestate.agent }}</p>
						</div>
						<div class="col s12">
							<p>Vrsta nekretnine: {{ realestate.type }}</p>
						</div>
						<div class="col s12">
							<p>Vrsta usluge: {{ realestate.for_sale ? 'kupovina' : 'iznajmljivanje' }}</p>
						</div>
						<div class="col s12">
							<p>Cena: {{ realestate.price }}</p>
						</div>
						<div class="col s12">
							<p>Površina: {{ realestate.area }} m2</p>
						</div>
						<div class="col s12">
							<p>Ime vlasnika: {{ realestate.owner_first_name }}</p>
						</div>
						<div class="col s12">
							<p>Prezime vlasnika: {{ realestate.owner_last_name }}</p>
						</div>
						<div class="col s12">
							<p>Br. telefona: {{ realestate.phone_number }}</p>
						</div>
					</div>
				</div>
				<div class="col s8">
					<table>
				        <thead>
				          <tr>
				              <th>Aktivnost</th>
				              <th>Mušterija</th>
				              <th>Datum</th>
				          </tr>
				        </thead>

				        <tbody>
				          <tr>
				            <td>Kupovina</td>
				            <td>Milan Milanović</td>
				            <td>01-12-2016 17:42:57</td>
				          </tr>
				          <tr>
				            <td>Prikaz</td>
				            <td>Milan Milanović</td>
				            <td>01-12-2016 12:42:57</td>
				          </tr>
				          <tr>
				            <td>Prikaz</td>
				            <td>Miloš Milošević</td>
				            <td>15-11-2016 16:42:57</td>
				          </tr>
				        </tbody>
				    </table>
				</div>
	    	</div>
	    </div>
	    <div id="tab2" class="col s12">
	    	<div class="row">
	    		<div class="col s4">
					<div class="row">
						<div class="col s12">
							<p>Država: {{ realestate.country }}</p>
						</div>
						<div class="col s12">
							<p>Grad: {{ realestate.city }}</p>
						</div>
						<div class="col s12">
							<p>Opština: {{ realestate.municipality }}</p>
						</div>
						<div class="col s12">
							<p>Lokacija: {{ realestate.location }}</p>
						</div>
						<div class="col s12">
							<p>Ulica: {{ realestate.street }}</p>
						</div>
						<div class="col s12">
							<p>Broj: {{ realestate.number }}</p>
						</div>
					</div>
				</div>
				<div class="col s8">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2830.785344308384!2d20.47404171524558!3d44.80556307909872!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a7a9f5ee145d3%3A0x3ed89b5bb505d83!2z0JXQu9C10LrRgtGA0L7RgtC10YXQvdC40YfQutC4INGE0LDQutGD0LvRgtC10YI!5e0!3m2!1ssr!2srs!4v1497476159654" width="300" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
	    	</div>
	    </div>
	    <div id="tab3" class="col s12">
	    	<div class="row">
	    		<div class="col s4" *ngFor="let picture of pictures">
					<img src="./img/realestate.jpg" height="100" width="100">
				</div>
	    	</div>
	    </div>
	</div>
	<div class="col s12" [hidden]="editMode || !isEdit">
		<div class="row">
			<button type="submit" class="btn waves-effect waves-light login-box__button" (click)="editMode = true">izmeni</button>
			<button (click)="this.editMode = false" class="btn red waves-effect waves-light login-box__button" (click)="closeForm()">nazad</button>
		</div>
	</div>
</div>