<div class="login-box content">
	<h1>Pretraga</h1>
	<form (ngSubmit)="$event.preventDefault">
		<div class="row">
			<div class="col s6">
				<div class="row">
					<div class="col s12">
						<label>Cena od</label>
						<input type="text" placeholder="Cena od" />
					</div>
					<div class="col s12">
						<label>Površina od</label>
						<input type="text" placeholder="Površina od" />
					</div>
					<div class="col s12">
						<label>Datum od</label>
						<input type="text" placeholder="Datum od" />
					</div>
					<div class="input-field col s12">
						<select name="agent">
							<option value="stan">stan</option>
							<option value="kuca">kuća</option>
						</select>
					</div>
					<div class="col s12">
						<label>Država</label>
						<input type="text" placeholder="Država" />
					</div>
					<div class="col s12">
						<label>Opština</label>
						<input type="text" placeholder="Opština" />
					</div>
					<div class="col s12">
						<label>Ulica</label>
						<input type="text" placeholder="Ulica" />
					</div>
				</div>
			</div>
			<div class="col s6">
				<div class="row">
					<div class="col s12">
						<label>Cena do</label>
						<input type="text" placeholder="Cena do" />
					</div>
					<div class="col s12">
						<label>Površina do</label>
						<input type="text" placeholder="Površina do" />
					</div>
					<div class="col s12">
						<label>Datum do</label>
						<input type="text" placeholder="Datum do" />
					</div>
					<div class="input-field col s12">
						<select name="agent">
							<option value="stan">stan</option>
							<option value="kuca">kuća</option>
						</select>
					</div>
					<div class="col s12">
						<label>Grad</label>
						<input type="text" placeholder="Grad" />
					</div>
					<div class="col s12">
						<label>Lokacija</label>
						<input type="text" placeholder="Lokacija" />
					</div>
					<div class="col s12">
						<label>Broj</label>
						<input type="text" placeholder="Broj" />
					</div>
				</div>
			</div>
		</div>
		<div class="col s12">
			<div class="row">
				<button type="submit" class="btn waves-effect waves-light login-box__button">pretraži</button>
			</div>
		</div>
	</form>
</div>