<div class="login-box content">
	<h1>Prijava</h1>
	<form (ngSubmit)="submit()">
		<div class="row">
			<div class="col s12">
				<input type="text" name="username" [(ngModel)]="username" required placeholder="Korisničko ime" />
			</div>
			<div class="col s12">
				<input type="password" name="password" [(ngModel)]="password" required placeholder="Šifra" />
			</div>
			<div class="col s12">
				<div>
					<button type="submit" class="btn waves-effect waves-light login-box__button">prijavi se</button>
				</div>
			</div>
		</div>
	</form>
</div>