<div class="login-box content">
	<h1>Agent</h1>
	<form (ngSubmit)="editMode = false" [hidden]="!editMode && isEdit">
		<div class="row">
			<div class="col s6">
				<div class="row">
					<div class="col s12">
						<label for="username">Korisničko ime</label>
						<input type="text" name="username" [(ngModel)]="agent.username" required placeholder="Korisničko ime" />
					</div>
					<div class="col s12">
						<label for="password">Nova lozinka</label>
						<input type="password" name="password"  required placeholder="Nova lozinka" />
					</div>
					<div class="col s12">
						<label for="password_retype">Potvrda lozinke</label>
						<input type="password" name="password_retype" required placeholder="Potvrda lozinke" />
					</div>
					<div class="col s12">
						<label for="fullname">Ime i prezime</label>
						<input type="text" name="fullname" [(ngModel)]="agent.fullname" required placeholder="Ime i prezime" />
					</div>
					<div class="col s12">
						<label for="social_security">JMBG</label>
						<input type="text" name="social_security" [(ngModel)]="agent.social_security" required placeholder="JMBG" />
					</div>
					<div class="col s12">
						<label for="address">Adresa</label>
						<input type="text" name="address" [(ngModel)]="agent.address" required placeholder="Adresa" />
					</div>
					<div class="col s12">
						<label for="phone">Broj telefona</label>
						<ul id='dropdown1' class='dropdown-content'>
							<li><a href="#!">060</a></li>
							<li class="divider"></li>
							<li><a href="#!">061</a></li>
							<li class="divider"></li>
							<li><a href="#!">062</a></li>
							<li class="divider"></li>
							<li><a href="#!">063</a></li>
							<li class="divider"></li>
							<li><a href="#!">064</a></li>
							<li class="divider"></li>
							<li><a href="#!">065</a></li>
						</ul>
						<input type="text" name="phone" [(ngModel)]="agent.phone" required placeholder="Broj telefona" />
					</div>
				</div>
			</div>
			<div class="col s6">
				<div class="row">
					<div class="col s12">
						<img src="img/agent.jpg" class="agent-form-img"/>
					</div>
					<div class="col s12">
						<input type="file" />
					</div>
				</div>
			</div>
		</div>
		<div [hidden]="!isEdit" class="row">
			<div class="col s12">
				<div>
					<button type="submit" class="btn waves-effect waves-light login-box__button">sačuvaj</button>
					<button (click)="this.editMode = false" class="btn red waves-effect waves-light login-box__button">odustani</button>
				</div>
			</div>
		</div>
		<div [hidden]="isEdit" class="row">
			<div class="col s12">
				<div>
					<button class="btn waves-effect waves-light login-box__button" (click)="$event.preventDefault()">sačuvaj</button>
					<button class="btn red waves-effect waves-light login-box__button" (click)="$event.preventDefault()">odustani</button>
				</div>
			</div>
		</div>
	</form>
	<div class="row" [hidden]="editMode || !isEdit">
		<div class="col s6">
			<div class="row">
				<div class="col s12">
					<p>Korisničko ime: {{ agent.username }}</p>
				</div>
				<div class="col s12">
					<p>Ime i prezime: {{ agent.fullname }}</p>
				</div>
				<div class="col s12">
					<p>jmbg: {{ agent.social_security }}</p>
				</div>
				<div class="col s12">
					<p>Adresa: {{ agent.address }}</p>
				</div>
				<div class="col s12">
					<p>Broj telefona: {{ agent.phone }}</p>
				</div>
			</div>
		</div>
		<div class="col s6">
			<img src="img/agent.jpg" class="agent-form-img"/>
		</div>
		<button type="submit" class="btn waves-effect waves-light login-box__button" (click)="editMode = true">izmeni</button>
		<button (click)="this.editMode = false" class="btn red waves-effect waves-light login-box__button" (click)="closeForm()">nazad</button>
	</div>
</div>