// styles applied on :host are applied on the current component, "app" in this case
:host {
  display: block;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5);
}

header {
  padding: 16px;
  width: 100%;
  color: white;
}

main {
  padding: 100em;
  display: block;
}

footer {
  text-align: center;
  font-size: 0.8em;
}

.sidebar {
  float: left;
  width: 100%;
  height: 100%;
}

.content {
  float: right;
  width: 80%;
  height: 100%;
}

main {
  background-color: white;
  padding: 0;
}

.nav-link {
  background-color: white;
  padding: 0;
}

td > input.form-control {
  width: 100% !important;
}