<div class="overlay"></div>
<header>
  <h1>{{ title }}</h1>
</header>
<main class="container">
	<div class="row">
		<div class="col s4" [hidden]="!isLoggedIn()">
			<div class="sidebar">
				<ul class="collapsible" data-collapsible="accordion">
				    <li>
				      	<div class="collapsible-header">
				      		<i class="material-icons">supervisor_account</i>Agenti
				      	</div>
				      	<div class="collapsible-body nav-link">
				      		<ul class="collection">
								<li class="collection-item">
									<a routerLink="/prikaz-agenata" routerLinkActive="active">Prikaz</a>
								</li>
								<li class="collection-item">
									<a routerLink="/dodavanje-agenata" routerLinkActive="active">Dodaj</a>
								</li>
							</ul>
				      	</div>
				    </li>
				    <li>
				      	<div class="collapsible-header">
				      		<i class="material-icons">domain</i>Nekretnine
				      	</div>
				      	<div class="collapsible-body nav-link">
				      		<ul class="collection">
								<li class="collection-item">
									<a routerLink="/prikaz-nekretnina" routerLinkActive="active">Prikaz</a>
								</li>
								<li class="collection-item">
									<a routerLink="/pretraga-nekretnina" routerLinkActive="active">Pretraga</a>
								</li>
								<li class="collection-item">
									<a routerLink="/dodavanje-nekretnina" routerLinkActive="active">Dodaj</a>
								</li>
							</ul>
				      	</div>
				    </li>
				    <li>
				      	<div class="collapsible-header">
				      		<i class="material-icons">trending_up</i>Izveštaji
				      	</div>
				      	<div class="collapsible-body nav-link">
				      		<ul class="collection">
								<li class="collection-item">
									<a routerLink="/prikaz-izvestaja" routerLinkActive="active">Prikaz</a>
								</li>
							</ul>
				      	</div>
				    </li>
			 	</ul>
			</div>
		</div>
		<div [ngClass]="{'col s8 view' : isLoggedIn()}">
			<router-outlet></router-outlet>
		</div>
	</div>
</main>
