// styles in src/style directory are applied to the whole page

@import "~materialize-css/dist/css/materialize.css";

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

body {
	font-family: Fira Sans,sans-serif;
    font-size: 12px;
    color: #212121;
    
    background-image: url('/img/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
