<div>
	<div class="row">
		<div class="col s6">
			<div class="home-image" id="agent-img"></div>
			<p class="center-align">
				<a routerLink="/prikaz-agenata" routerLinkActive="active">Prikaz agenata</a>
			</p>
		</div>
		<div class="col s6">
			<div class="home-image" id="realestate-img"></div>
			<p class="center-align">
				<a routerLink="/prikaz-nekretnina" routerLinkActive="active">Prikaz nekretnina</a>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col s6">
			<div class="home-image" id="search-img"></div>
			<p class="center-align">
				<a routerLink="/pretraga-nekretnina" routerLinkActive="active">Pretraga nekretnina</a>
			</p>
		</div>
		<div class="col s6">
			<div class="home-image" id="report-img"></div>
			<p class="center-align">
				<a routerLink="/prikaz-izvestaja" routerLinkActive="active">Prikaz izveštaja</a>
			</p>
		</div>
	</div>
</div>