.home-image {
	height: 200px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;

	&#agent-img {
		background-image: url('./img/agent.jpg');
	}

	&#realestate-img {
		background-image: url('./img/realestate.png');
	}

	&#search-img {
		background-image: url('./img/search.png');
	}

	&#report-img {
		background-image: url('./img/report.png');
	}
}